body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-wrapper {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.demo-form {
  margin-top: 1rem;
}

.demo-button {
  background-color: #0000ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.demo-button:hover {
  background-color: #0000ee;
}

.results-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  max-width: 100vw;
}

.preview-container {
  max-width: calc(50% - 0.5rem);
  min-width: 0;
  flex: 1;
}

.preview-code {
  background: #f4f4f4;
  overflow: auto;
  max-height: 400px;
  margin: 0;
  padding: 1rem;
  border-radius: 4px;
}

.scroll-code {
  overflow: scroll;
  overflow-x: scroll;
  max-width: 100%;
  display: block;
  border: 1px solid black
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.files-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #008800;
  color: white;
}

button:hover {
  background-color: #007700;
}

.figma-document {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-iframe {
  width: 100%;
  height: 100%;
}

.preview-iframe-container {
  width: 100%;
  height: 100vh;
}
